@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #5e0006;
  --secondary-color: #fbf9d1;
  --white-color: #fff;
}
.font-sans {
  font-family: "Playfair Display", serif;
}
.img-frame::after {
  content: "";
  position: absolute;
  inset: 12px;
  border: 1.5px solid var(--white-color);
  pointer-events: none;
}
